.container {
    display: flex;
}

.children {
    width: 50%;
    height: 300px;
    border: 1px solid red;
    margin: 10px;
}

@media screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

